@keyframes moveAndChangeColor {
    0% { color: #ff5733; transform: translateY(0px); }
    50% { color: #33ff57; transform: translateY(-15px); }
    100% { color: #ff5733; transform: translateY(0px); }
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes goldShift {
    0% { background-position: 0% }
    50% { background-position: 100% }
    100% { background-position: 0% }
}

@keyframes vibrate {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(2px, 2px); }
}

@keyframes pulseGlow {
    from { transform: scale(1); }
    to { transform: scale(1.55); }
}

@keyframes flatenned {
    0% { transform: scaleY(1) rotate(0deg); }
    50% { transform: scaleY(1.3) rotate(2deg); }
    100% { transform: scaleY(0.3) rotate(-5deg); opacity: 0.6; }
}

@keyframes glitchTop {
    0% { transform: translate(-2px, -2px); clip: rect(0px, 9999px, 5px, 0px); }
    20% { transform: translate(2px, 2px); clip: rect(5px, 9999px, 10px, 0px); }
    40% { transform: translate(-2px, 0px); clip: rect(10px, 9999px, 15px, 0px); }
    60% { transform: translate(2px, -2px); clip: rect(15px, 9999px, 20px, 0px); }
    80% { transform: translate(-2px, 2px); clip: rect(0px, 9999px, 25px, 0px); }
    100% { transform: translate(0,0); clip: rect(0px, 9999px, 5px, 0px); }
}

@keyframes glitchBottom {
    0% { transform: translate(2px, 2px); clip: rect(5px, 9999px, 15px, 0px); }
    20% { transform: translate(-2px, -2px); clip: rect(10px, 9999px, 20px, 0px); }
    40% { transform: translate(2px, 0); clip: rect(0px, 9999px, 5px, 0px); }
    60% { transform: translate(-2px, 2px); clip: rect(15px, 9999px, 25px, 0px); }
    80% { transform: translate(2px, -2px); clip: rect(0px, 9999px, 10px, 0px); }
    100% { transform: translate(0,0); clip: rect(5px, 9999px, 15px, 0px); }
}

@keyframes teleport {
    0% { transform: translate(0, 0); }
    25% { transform: translate(100px, -50px); }
    50% { transform: translate(-80px, 30px); }
    75% { transform: translate(50px, 60px); }
    100% { transform: translate(0, -40px); }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}