body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    
     background: repeating-linear-gradient(
    45deg, #000000,#000000, #c4c4c4, #000000);

    background-size: 400%;
    padding: 15px 30px; 

    transition: 0.7s;
    animation: gradientShift 5s ease infinite;
}

button {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.button-title {
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-size: 50px;
    color: #333;
    margin-bottom: 90px;

}
.color-space-zero {
    color: #ff5733; 
    animation: moveAndChangeColor 2s infinite;
}

.color-space-one
{
    color: #ff5733; 
    animation: moveAndChangeColor 2s infinite;
}

.content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

@media (max-width: 1000px) {
    .button-title {
        font-size: 45px;
        margin-bottom: 80px;
    }
    .content-flex {
        gap: 50px;
    }
}

@media (max-width: 800px) {
    .button-title {
        font-size: 40px;
        margin-bottom: 70px;
    }
    .content-flex {
        gap: 40px;
    }
}

@media (max-width: 600px) {
    .button-title {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .content-flex {
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width: 400px) {
    .button-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .button-initial, .button-secondary, .button-expansion, .button-shake, .style-button, .button-spin {
        padding: 10px 20px;
        font-size: 16px;
    }
}